:root {
  --dark-green: #003c1e;
  --highlight-green: #77b395;
  --green: #28794b;
}

[data-theme="light"] {
  --color-neutral: var(--green, green);
  --color-bg: white;
  --color-accent: var(--dark-green, green);
  --color-reverse-accent: white;
  --color-fg: black;
}

[data-theme="dark"] {
  --color-neutral: var(--green, green);
  --color-bg: #25262b;
  --color-accent: white;
  --color-reverse-accent: var(--dark-green, green);
}

button {
  all: unset; /* Resets all styles (including padding, margin, border, etc.) */
  cursor: pointer; /* Adds a pointer cursor on hover */
  padding: 0;
  border: none;
  display: inline-block;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(253deg)
    brightness(105%) contrast(102%);
  padding-top: 3px;
  margin: auto;
}

#theme-icon {
  width: 1.25em;
  margin-top: 5px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
  margin: 0;
  width: 100dvw;
  color: var(--color-accent, green);
  background-color: var(--color-bg, white);
  overflow-x: hidden;
}

nav {
  width: 100dvw;
  font-size: 20px;
  display: flex;
  background-color: var(--color-neutral, green);
  align-items: center;
  justify-content: space-between;
}

nav img {
  width: 2em;
  border-radius: 50%;
}

.navItem {
  color: white;
  text-decoration: none;
  margin: 0.5em 0.5em;
  padding-right: 10px;
}

.navItem:hover {
  color: var(--dark-green, green);
}

@keyframes green-mix {
  0% {
    color: color-mix(
      in oklab,
      var(--dark-green, green) 5%,
      var(--highlight-green, white)
    );
  }
  10% {
    color: color-mix(
      in oklab,
      var(--dark-green, green) 10%,
      var(--highlight-green, white)
    );
  }
  25% {
    color: color-mix(
      in oklab,
      var(--dark-green, green) 25%,
      var(--highlight-green, white)
    );
  }
  35% {
    color: color-mix(
      in oklab,
      var(--dark-green, green) 35%,
      var(--highlight-green, white)
    );
  }
  50% {
    color: color-mix(
      in oklab,
      var(--dark-green, green) 50%,
      var(--highlight-green, white)
    );
  }
  75% {
    color: color-mix(
      in oklab,
      var(--dark-green, green) 75%,
      var(--highlight-green, white)
    );
  }
  100% {
    color: color-mix(
      in oklab,
      var(--dark-green, green) 100%,
      var(--highlight-green, white)
    );
  }
}

header p {
  animation-name: green-mix;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

hgroup:has(h1) {
  font-size: 72 px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact[data-theme="light"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 30dvw;
  flex-wrap: wrap;
  filter: invert(18%) sepia(52%) saturate(808%) hue-rotate(103deg)
    brightness(92%) contrast(104%);
}

.contact[data-theme="dark"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 30dvw;
  flex-wrap: wrap;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(253deg)
    brightness(105%) contrast(102%);
}

.contactLogo {
  transition: transform 1s;
  width: 8dvh;
}

.contactLogo:hover {
  transform: scale(1.2);
}

h2 {
  font-size: 2.5em;
  margin: 3dvh, 0;
}

.portfolio {
  display: flex;
  width: 80dvw;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2em;
  margin-bottom: 10%;
}

.portfolioItem {
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  justify-content: flex-start;
}

.portfolioImage {
  width: 20rem;
  height: 12rem;
  border-radius: 10%;
  border-style: solid;
  border-color: var(--highlight-green);
  transition: transform 1s;
}

.portfolioImage:hover {
  transform: scale(1.1);
}

.portfolioItemTitle {
  margin: 5% 0 2% 0;
  display: flex;
  justify-content: space-between;
}

.portfolioItem p {
  font-size: large;
  margin: 0;
}

.menu {
  display: flex;
  margin-right: 3vw;
}

/* Hamburger menu button (hidden by default) */
#menu-btn {
  display: none;
}

.menu-icon {
  display: none; /* Hide by default */
  cursor: pointer;
}

.navicon {
  width: 30px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-bottom: 10dvh;
  color: var(--color-accent, green);
  width: 40vw;
}

label {
  font-size: 1.5rem;
}

input {
  height: 1.5rem;
  font-size: 1.15rem;
  border-radius: 10px;
  padding: 5px;
}

textarea {
  border-radius: 10px;
  padding: 5px;
  border: 2px solid var(--color-fg);
}

input[type="submit"] {
  background-color: var(--highlight-green, green);
  color: var(--color-bg);
  border: none;
  height: 2.25rem;
  font-size: 1.5rem;
  border-radius: 10px;
}

@keyframes error-flash {
  0% {
    box-shadow: 0 0 5px 3px red;
  }
  100% {
    box-shadow: none;
  }
}

@keyframes char-flash {
  0% {
    background-color: var(--highlight-green, green);
  }
  100% {
    background-color: white;
  }
}

.error-flash {
  animation: error-flash 0.3s ease-in-out;
}

.warning {
  animation: char-flash 0.3s ease-in-out;
}

output {
  font-size: 1.5rem;
  margin-top: 5vh;
}

output[name="error"] {
  color: red;
  font-weight: bold;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-bottom: 10dvh;
    color: var(--color-accent, green);
    width: 70vw;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: var(--green, green);
    padding: 10px;
    border-radius: 5px;
  }

  .menu a {
    padding: 10px;
    display: block;
    text-align: center;
    font-size: xx-large;
  }

  .menu-icon {
    display: block; /* Show menu icon on small screens */
  }

  /* Show menu when checkbox is checked */
  #menu-btn:checked ~ .menu {
    display: flex;
  }

  .menu-icon {
    margin-right: 1rem;
  }

  .contactLogo {
    width: 10dvw;
    padding: 5px;
  }
}
